/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px Georgia, serif; }
#page-wrap { margin: 40px auto; color: white; }
#page-wrap > div { border: 1px solid #999; padding: 20px; margin-bottom: 5px; color: black; }
#header { background: #eee; }
#main-content { background: #eee; }
#secondary-one { background: #eee;  }
#secondary-two { background: #eee;  }